<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<title>NYC Pulse</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery-2.1.0.min.js') }}">\x3C/script>')</script>
	<script type="text/javascript">
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>

	<script type="text/javascript">
		console.log('IM HERE');
		$('document').ready(function() {
			tick();
		});


		function tick() {
			var now = new Date();
			var hr = now.getHours();
			var min = now.getMinutes();
			console.log('ticking', hr, min);
			// getArrivals(hr, min);
			checkReady();
			var t = setTimeout('tick()', 3000);
		}

		function checkReady() {
			console.log('checkReady');
			$.getJSON($SCRIPT_ROOT + '/check_ready', {
				ready: 'you ready dude?'
			}, function(data) {
				console.log('ready: ' + data);
			});
		}

		function getArrivals(hr, min) {
			console.log('getting arrivals');
			$.getJSON($SCRIPT_ROOT + '/get_arrivals', {
				hour: hr,
				minute: min
			}, function(data) {
				console.log(data);
			});	
		}

</script>

</head>
<body>
	HELLO APP
	<button id="start">START</button>

</body>
</html>