<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<title>NYC Pulse</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8LeyaDeV6VXi7os1k-XO_kATNyVkVDQw&sensor=false">
	</script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
	<script type="text/javascript">

		var data = {{ stops|safe }};
		// Initialize map
		function initialize() {
			var mapOptions = {
				center: new google.maps.LatLng(40.6700, -73.9400),
				zoom: 16
			};
			var map = new google.maps.Map(document.getElementById("map-canvas"),
				mapOptions);
					// Add stations to map
			console.log('adding stops');
			console.log(new Date().getTime());
			// test_func(data);

			for (var i = 0; i < data.length; i++) {
				var stop = data[i];
				var myLatlng = new google.maps.LatLng(stop['lat'], stop['lon']);
				var marker = new google.maps.Marker({
					position: myLatlng,
					title: stop['name'],
					icon: '/static/train.png'
				});
				marker.setMap(map);	
			};
		
		}
		google.maps.event.addDomListener(window, 'load', initialize);

		function test_func(data) {
			console.log(data);
		}
		

		function tick() {
			var d = new Date();
			var time = d.getHours() +':'+ d.getMinutes() + ':' + d.getSeconds();
			console.log('TIME NOW:'+time);
			t = setTimeout('tick()', 10000);
		}
		
		$(document).ready(function(){
			tick();
		});


	</script>

</head>
<body>
	<div id="map-canvas"/>
</body>
</html>